:root.theme-light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --intro-bg-color: #ff8dcb;
  --intro-text-color: #353430;
  --badge-display: none;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --button-color: #353430;
  --section-title-color: #353430;
  --selection-bg-color: #ff8dcb;
  --selection-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --intro-bg-color: #ff8dcb;
    --intro-text-color: #353430;
    --badge-display: none;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --button-color: #353430;
    --section-title-color: #353430;
    --selection-bg-color: #ff8dcb;
    --selection-text-color: #353430;
  }
}
