/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body.
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  position: relative;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  min-block-size: 100vh;
}

/* Pixelperfect debugging image */
/* .pixelperfect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../pixelperfect/375 x 668 - dark.png") repeat-y top left / 375px auto;
  background: url("../pixelperfect/768 x 1024 - dark.png") repeat-y top left / 768px auto;
  background: url("../pixelperfect/1024 x 768 - dark.png") repeat-y top left / 1024px auto;
  opacity: 0.5;
  pointer-events: none;
  z-index: 9999;
} */

/* Corner decorations */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  top: var(--container-gutter);
  right: var(--container-gutter);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--container-gutter);
  left: var(--container-gutter);
  border-top: none;
  border-right: none;
}

/* Header */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: var(--container-gutter);
  position: relative;
  container-type: inline-size;
}

.header__background {
  position: absolute;
  inset: 0;
  background: var(--bg-image) center/cover no-repeat;
  z-index: -2;
  pointer-events: none;
}

.header__title {
  grid-row: 2;
  align-self: center;
  justify-self: start;
  max-width: 800px;
  font-size: var(--font-size-huge);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  line-height: 0.825;
}

.header__intro {
  grid-row: 3;
  align-self: center;
  justify-self: end;
  max-width: 600px;
  background-color: var(--intro-bg);
  color: var(--intro-text);
  font-weight: bold;
}

/* Decorative element REC */
.header__badge {
  position: absolute;
  top: var(--container-gutter);
  right: calc(var(--container-gutter) + 10px);
  display: var(--badge-display, flex);
  color: var(--accent-color);
  line-height: 1.5;
  text-transform: uppercase;
}

.header__badge::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-inline-start: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* Navigation menu */
.header__theme-menu {
  grid-row: 1;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  align-items: flex-end;
}

/* Menu buttons */
.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 1px 12px 4.5px;
  cursor: pointer;
  color: var(--accent-color);
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-transform: lowercase;
  transition: color 0.2s, border-color 0.2s;
}

.header__theme-menu-button:hover {
  border-color: currentColor;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

/* Main content */
.content-container {
  display: grid;
  gap: 50px;
  padding: 40px var(--container-gutter);
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section__title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: bold;
  background-color: transparent;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 10px;
}

.card__title {
  background-color: var(--accent-color);
  color: var(--intro-text);
  font-size: inherit;
  font-weight: bold;
  display: block;
}

.card__subtitle {
  font-weight: normal;
}

.card__text {
  color: var(--text-color);
  background-color: transparent;
}

.card .link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
  transition: border 0.2s;
}
.card .link:hover,
.card .link:focus-visible {
  border-bottom: 1px solid currentColor;
}
.card .link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

/* Gallery */
.gallery {
  display: grid;
  gap: var(--container-gutter);
}

.gallery__title {
  background-color: var(--accent-color);
  color: var(--intro-text);
  font-size: inherit;
  font-weight: bold;
  display: inline-block;
}

.gallery__grid {
  display: grid;
  gap: var(--container-gutter);
}

.gallery__grid img {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

/* Footer */
.footer {
  min-block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--bg-image) center/cover no-repeat;
}

.footer__title {
  font-size: var(--font-size-huge);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  line-height: 0.825;
}

/* Tablet */
@media (width >= 700px) {
  :root {
    --container-gutter: 20px;
    --font-size-huge: 120px;
  }

  .header__title {
    margin-left: calc(var(--container-gutter) * -1);
  }

  .header__intro {
    width: 50%;
  }

  .content-container {
    gap: 80px;
    padding: 60px var(--container-gutter);
  }

  .content-section {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .content-section:nth-child(odd) {
    grid-template-areas: "title cards";
  }

  .content-section:nth-child(even) {
    grid-template-areas: 
      "title ."
      "cards cards";
  }

  .content-section .content-section__title {
    grid-area: title;
  }

  .content-section .card-list {
    grid-area: cards;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1 / 1;
  }

  .gallery__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image_sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .gallery__image_icecream {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery__image_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

/* Desktop */
@media (width >= 1000px) {
  :root {
    --font-size-huge: 157px;
  }

  .header__theme-menu {
    align-self: self-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    justify-content: center;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .content-section:nth-child(even) {
    grid-template-areas:
    "title . ."
    "cards cards cards";
  }

  .content-section:nth-child(odd) {
    grid-template-areas: "title cards cards";
  }

  .content-section:nth-child(odd) .card-list .card {
    grid-column: auto / span 3;
  }

  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__group-title {
    grid-column: auto / span 3;
  }
}