.page {
  position: relative;
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size-base, 18);
  line-height: var(--line-height-base, 1.3);
  background: var(--bg-image, url(../images/cover-image-dark.png)) center/cover
    no-repeat;
  background-color: var(--bg-color, #000028);
  background-attachment: fixed;
}

/* Pixelperfect debugging image */
/* .pixelperfect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: url("../pixelperfect/375 x 668 - dark.png") repeat-y top left / 375px auto;
  background: url("../pixelperfect/768 x 1024 - dark.png") repeat-y top left / 768px auto;
  background: url("../pixelperfect/1024 x 768 - dark.png") repeat-y top left / 1024px auto;
  background: url("../pixelperfect/375 x 668 - light.png") repeat-y top left / 375px auto;
  pointer-events: none;
} */

/* Corner decorations */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  border: 1px solid var(--button-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: var(--container-gutter, 20px);
  right: var(--container-gutter, 20px);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: var(--container-gutter, 20px);
  left: var(--container-gutter, 20px);
  border-top: none;
  border-right: none;
}

/* Header */
.header,
.footer {
  block-size: 100vh;
  min-block-size: 668px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--container-gutter, 20px);
}

.header__title,
.footer__title {
  color: var(--title-color, #db00ff);
  font-size: clamp(7.25rem, calc(16vw - 0.18rem), 9.8125rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--shadow-color, #ff0070);
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  margin-left: calc(var(--container-gutter, 20px) * -1);
}

.header__intro {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  color: var(--intro-text-color, #000028);
  font-weight: bold;
  background-color: var(--intro-bg-color, #ff0070);
  inline-size: 50%;
  max-inline-size: 600px;
}

/* Decorative element REC */
.header__badge {
  position: absolute;
  top: var(--container-gutter, 20px);
  right: calc(var(--container-gutter, 20px) + 10px);
  display: var(--badge-display, flex);
  color: var(--button-color, #ff0070);
  line-height: 1.5;
  text-transform: uppercase;
}

.header__badge::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--button-color, #ff0070);
  background-color: var(--button-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

/* Navigation menu */
.header__theme-menu {
  grid-row: 1;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  list-style: none;
}

/* Menu buttons */
.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1px 12px 4.5px;
  color: var(--button-color, #ff0070);
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-transform: lowercase;
  background: transparent;
  transition:
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, currentColor 40%, transparent);
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

/* Main content */
.content-container {
  display: grid;
  gap: 80px;
  padding: 60px var(--container-gutter, 20px);
}

.content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content-section-offset {
  grid-template-areas: "title cards cards";
}

.content-section-full-size {
  grid-template-areas:
    "title . ."
    "cards cards cards";
}

.content-section__title {
  grid-area: title;
  color: var(--section-title-color, #ff0070);
  font-weight: bold;
  font-size: inherit;
  background-color: transparent;
}

.card-list {
  display: grid;
  grid-template-columns: auto;
  grid-area: cards;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 10px;
}

.card__title {
  display: block;
  color: var(--intro-text-color, #000028);
  font-weight: bold;
  font-size: inherit;
  background-color: var(--intro-bg-color, #ff0070);
}

.card__subtitle {
  font-weight: normal;
}

.card__text {
  color: var(--text-color);
  background-color: transparent;
}

.card .link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
  transition: border 0.2s;
}

.card .link:hover {
  border-bottom: 1px solid currentColor;
}

.card .link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

/* Gallery */
.gallery {
  display: grid;
  gap: var(--container-gutter, 20px);
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--container-gutter, 20px);
  list-style: none;
  inline-size: 100%;
}

.gallery__grid_item {
  display: grid;
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.gallery__image_sunset {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.gallery__image_icecream {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.gallery__image_tape {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.gallery__image_books {
  grid-column: 2;
  grid-row: 2;
}

.gallery__image_street {
  grid-column: 2 / span 2;
  grid-row: 3;
}

/* Footer */
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Phone */
@media (width <= 700px) {
  :root {
    --container-gutter: 10px;
  }

  .header__title {
    justify-self: center;
    margin-left: 0;
  }

  .header__intro {
    inline-size: 100%;
  }

  .content-container {
    gap: 50px;
    padding: 40px var(--container-gutter, 20px);
  }

  .content-section {
    grid-template-columns: auto;
  }

  .content-section-offset,
  .content-section-full-size {
    grid-template-areas: "title" "cards";
  }

  .gallery__grid {
    grid-template-columns: auto;
  }

  .gallery__image_sunset,
  .gallery__image_icecream,
  .gallery__image_tape,
  .gallery__image_books,
  .gallery__image_street {
    grid-column: auto;
    grid-row: auto;
  }
}

/* Tablet */
@media (700px < width < 1000px) {
  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section-offset {
    grid-template-areas: "title cards";
  }

  .content-section-full-size {
    grid-template-areas:
      "title ."
      "cards cards";
  }
}

/* Desktop */
@media (width >= 1000px) {
  .header__theme-menu {
    align-self: self-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .card__group-title,
  .content-section-offset .card-list .card {
    grid-column: auto / span 3;
  }

  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
