:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --intro-bg-color: #ff0070;
  --intro-text-color: #000028;
  --badge-display: block;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --font-family: "IBM Plex mono", monospace;
  --font-size-base: 18px;
  --line-height-base: 1.3;
  --selection-bg-color: #ff0070;
  --selection-text-color: #000028;
  --button-color: #ff0070;
  --section-title-color: #ff0070;
  --container-gutter: 20px;
}
